<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
          <span class="logo-sm">
            <img src="assets/images/logoAttijari.jpeg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logoAttijari.jpeg" alt="" height="17">
          </span>
        </a>

        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logoAttijari.jpeg" alt="" height="22">
          </span>
          <span class="logo-lg">
            <img src="assets/images/logoAttijari.jpeg" alt="" height="19">
          </span>
        </a>
      </div>

      <!-- Menu toggle -->
      <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
        (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

      <!-- Search Desktop -->
      
    </div>

    <div class="d-flex">

      <!-- Search Mobile -->
      <div class="dropdown d-inline-block d-lg-none ms-2" ngbDropdown>
        <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown"
          ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" ngbDropdownMenu>
          
        </div>
      </div>

      <!-- Fullscreen -->
      <div class="dropdown d-none d-lg-inline-block ms-1">
        <button type="button" class="btn header-item noti-icon" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
      </div>

      

      <!-- User -->
      <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">
          <img class="rounded-circle header-profile-user" src="assets/images/users/userimage.png" alt="User">
          <span class="d-none d-xl-inline-block ms-1">{{userProfile.firstName }}</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/contacts/profile']">
            <i class="bx bx-user font-size-16 align-middle me-1" id="ic"></i> {{ 'HEADER.LOGIN.PROFILE' | translate }}
          </a>
          
          
        
          <div class="dropdown-item d-block"></div>
          <a class="dropdown-item text-danger" href="#" (click)="logout()">
            <i class="bx bx-power-off font-size-16 align-middle me-1 text-danger" id="ic"></i> {{ 'HEADER.LOGIN.LOGOUT' | translate }}
          </a>
        </div>
      </div>

      <!-- Settings -->
      <div class="dropdown d-inline-block">
        <button type="button" class="btn header-item noti-icon right-bar-toggle" (click)="toggleRightSidebar()">
          <i class="bx bx-cog bx-spin"></i>
        </button>
      </div>
    </div>
  </div>
</header>
