<div class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Assigner un Rôle</h4>

      <!-- Select Utilisateur -->
      <div class="form-group mb-3">
        <label for="userSelect">Utilisateur concerné :</label>
        <ng-select
          [items]="users"
          bindLabel="username"
          bindValue="idUserprofile"
          [(ngModel)]="selectedUserId"
          placeholder="Choisissez un utilisateur"
          id="userSelect"
        >
        </ng-select>
      </div>

      <!-- Select Rôle -->
      <div class="form-group">
        <label for="roleSelect">Rôle à assigner :</label>
        <ng-select
          [items]="roles"
          [(ngModel)]="selectedRole"
          placeholder="Choisissez un rôle"
          id="roleSelect"
        >
        </ng-select>
      </div>

      <!-- Bouton d'action -->
       <div class="d-flex justify-content-end ">
      <button
        class="btn btn-primary mt-3 mr-2"
        (click)="assignerRole(selectedRole, selectedUserId)"
        [disabled]="!selectedUserId || !selectedRole"
      >
        Assigner
      </button>
    </div>
    </div>
  </div>
</div>
