<!-- Right Sidebar -->

<div class="right-bar" (clickOutside)="hide()" [exclude]="'.right-bar-toggle'">

  <ngx-simplebar class="h-100">
    <div class="rightbar-title px-3 py-4">
      <a href="javascript:void(0);" class="right-bar-toggle float-end" (click)="hide();">
        <i class="mdi mdi-close noti-icon"></i>
      </a>
      <h5 class="m-0">Paramètres</h5>
      </div>
     <!-- Menu de navigation -->
<div class="px-3 py-3">
  <a class="d-block mb-3 p-3 menu-item text-secondary" 
     routerLink="/settings/mot-de-passe" 
     (click)="hide()">
    <i class="mdi mdi-lock-outline me-2"></i>
    Mot de passe
  </a>
 
</div>

    
  </ngx-simplebar>
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>