<div class="container-fluid">

  <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row justify-content-center">
  <div class="col-xl-10">
    <div class="card overflow-hidden big-profile-card">
      <div class="bg-soft bg-warning">
        <div class="row">
          <div class="col-7">
            <div class="text-dark p-4">
              <h3 class="text-dark">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</h3>
              <p class="fs-5">Voici les infos de profil</p>
            </div>
          </div>
          <div class="col-5 align-self-end">
            <img src="assets/images/attijari-couv.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="row align-items-center">
          <div class="col-sm-4 text-center">
            <div class="avatar-xl profile-user-wid mb-4">
              <img src="assets/images/users/userimage.png" alt="" class="img-thumbnail rounded-circle img-large">
            </div>
            <h4 class="font-size-20">{{ userProfile?.firstName }} {{ userProfile?.lastName }}</h4>
            <p class="text-muted mb-0">{{ userProfile?.email }}</p>
          </div>

          <div class="col-sm-8">
            <div class="pt-4 px-3">
              <div class="row mb-3">
                <div class="col-4">
                  <h5 class="font-size-16">Adresse</h5>
                  <p class="text-muted">{{ userProfile?.address }}</p>
                </div>
                <div class="col-4">
                  <h5 class="font-size-16">Téléphone</h5>
                  <p class="text-muted">{{ userProfile?.phoneNumber }}</p>
                </div>
                <div class="col-4">
                  <h5 class="font-size-16">Matricule</h5>
                  <p class="text-muted">{{ userProfile?.matricule }}</p>
                </div>
              </div>
              <div class="mt-4 text-end">
                <a class="btn btn-warning btn-lg"
                   [routerLink]="['/edit-user', userProfile?.idUserprofile]">
                  Modifier le Profil <i class="mdi mdi-arrow-right ms-2"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


      