<div class="card">
  <div class="card-body">
    <h4 class="card-title mb-4">Ajouter Effet </h4>

    <!-- Étape 1 : Choix du type -->
    <form [formGroup]="effetForm">
      <div *ngIf="step === 1">
        <label>Type d'effet</label>
        <ng-select [items]="typesEffet"
                   bindLabel="label"
                   bindValue="value"
                   placeholder="Sélectionner le type"
                   formControlName="typeEffet"
                   (change)="onTypeEffetChange($event)">
        </ng-select>

        <div *ngIf="effetForm.get('typeEffet')?.invalid && effetForm.get('typeEffet')?.touched" class="text-danger">
          Type d'effet requis
        </div>

<div class="d-flex justify-content-between mt-3">
  <button type="button" class="btn btn-secondary w-15 me-2" (click)="onCancel()">Annuler</button>
  <button type="button" class="btn btn-warning w-15" (click)="nextStep()">Suivant</button>
</div>      
</div>

      <!-- Étape 2 : Formulaire -->
      <div *ngIf="step === 2">
        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Référence</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="reference" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Tireur</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="tireur" />
          </div>
        </div>

        <!-- Champ Tire seulement si lettre de change -->
        <div class="row mb-3" *ngIf="selectedType === 'LETTRE_DE_CHANGE'">
          <label class="col-sm-3 col-form-label">Tiré</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="tire" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Bénéficiaire</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="beneficiaire" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Montant</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="montant" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Date Émission</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" formControlName="dateEmission" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">Date Échéance</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" formControlName="dateEcheance" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">IBAN Tireur</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="ibanTireur" />
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-3 col-form-label">IBAN Bénéficiaire</label>
          <div class="col-sm-9">
            <input class="form-control" formControlName="ibanTire" />
          </div>
        </div>

        <div class="d-flex justify-content-between mt-3 w-100">
  <div class="d-flex gap-2">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
    <button type="button" class="btn btn-secondary" (click)="prevStep()">Précédent</button>
  </div>

  <button type="button" class="btn btn-warning" (click)="onSubmit()">Créer Effet</button>
</div>

      </div>
    </form>
  </div>
</div>
