.account-pages {
  min-height: 100vh; /* occupe toute la hauteur */
  background: url('/assets/images/attijari-bank.png') no-repeat center center;
  background-size: cover; /* l’image couvre tout */
  background-attachment: scroll; /* (par défaut) => elle défile avec la page */
}
