<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-warning">
            <div class="row">
              <div class="col-7">
                
              </div>
              <div class="align-self-end">
                <img src="assets/images/Logo_Attijari_bank.png" alt="" class="img-fluid">
                <div class="text-dark p-4">
                  <h5 class="text-dark">Réinitialiser le mot de passe</h5>

                  <p *ngIf="hide===true">Entrez votre adresse e-mail et nous vous enverrons les instructions pour réinitialiser votre mot de passe.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body pt-0">

            <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()" novalidate>

              <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

              <div class="mb-3 mt-3">
                <label for="email">Email</label>

                <input type="email" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email" />

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email est requis</div>
                  <div *ngIf="f.email.errors.email">Email doit être une adresse e-mail valide</div>
                </div>
              </div>
              <div class="text-end">
                <button class="btn btn-warning w-md" type="submit">Réinitialiser</button>
              </div>
              <div class="bg-soft bg-warning mt-2 p-3 rounded-0">
  <div class="text-center m-0">
    <p class="mb-0">
      Vous vous en souvenez ?
      <a routerLink="/account/login" class="fw-medium text-warning">
        Connectez-vous ici
      </a>
    </p>
  </div>
</div>
            
          </form>

          
          </div> <!-- end card-body-->
        </div>
        <!-- end card -->
        

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->